body{
    font-family: 'Roboto', sans-serif;
    background-color:#E1E5EE;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}


nav{
  display: flex;
  padding: 0px;
  gap: 35.2px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}



nav button {
    background-color: #2A324B;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight:bold ;
    font-size: 21px; 
   
}

nav button:hover{
    background-color: white;
    color: #2A324B ;
}


nav button.active {
    background-color: white;
    color: #2A324B;
}



.resources-container {
    width: 100%;
    max-width: 800px; 
    background-color: white; 
    padding: 20px;
    text-align: left;
    margin-top: 0; 

}


.resources-container h2 {
    color: #2A324B;
    font-size: 24px;
    margin-bottom: 5px;
}



.resources-container p {
    font-size: 15px;
    color: black;
    /*margin-bottom: 15px;*/
}


.resources-container ul {
    /*padding: 0;*/
    margin-top: 10px;
    text-align: left;

}


.resources-container li {
    margin-bottom: 15px; 
}


.resources-container a {
    text-decoration: underline;
    color: #58699D;
}


.resources-container a:hover {
    text-decoration: underline;
}






